<% provide(:title, "About") %>
<div id="body-wrapper">
  <%= content_tag :h1, "About Polyov", class:"static-header" %>
  <%= content_tag :h3, "Web Development, Graphic and UI Design", class:"static-subheader" %>
  <%= content_tag :div, class:"static-body" do %>
  <p>Hi. My name's Evan Derby.</p>
  <p>I'm a developer who has a wide range of interests and experience- both inside and outside of development.</p>
  <p>Having knowledge of lots of other areas is important to creating a well-rounded product, not just on a code level, but also on an outward facing user level. Experience in visual and dramatic arts informs me on how users view and react to a product. Knowledge of computer and natural sciences hint on how to create well structured and efficient systems. And history with a wide variety of tools and platforms enable to me to always pick the best option for the job at hand. If I don't know your toolset, I've been a newbie to so many other things that a transition to something else is a piece of cake.</p>
  <p>On my own, I'm adaptive, but when I'm set into the structure and environment of your team, I'm focused, precise, and detail-oriented, in all aspects of design.</p>
  <p>I'm like a swiss army knife that also happens to include a 3D printer.</p>
  <% end %>
  <%= content_tag :h4, "Contact Me", class:"static-subsubheader" %>
  <%= content_tag :p, class:"static-links" do %>
    <%= link_to "Email", "mailto:somekidwithhtml@gmail.com" %>
    <%= link_to "Stack Overflow", "http://stackoverflow.com/users/1473963/polyov" %>
  <% end %>
</div>
