<% provide(:title, "Blog") %>
<div id="body-wrapper">
  <% if admin_signed_in? %>
    <%= link_to "New Post", new_post_path %>
  <% end %>
  <% @posts.each do |p| %>
    <%= content_tag :div, class:"post" do %>
      <%= content_tag :h2, class:"post-title" do %>
        <%= link_to p.title, p, class:"post-link" %>
        <%= content_tag :span, class:"post-time" do %>
          - <%= p.updated_at.strftime('%b %e %Y') %>
        <% end %>
      <% end %>
      <%= content_tag :div, class:"post-body" do %>
        <%= content_tag :p, limit_length(p.body,125).html_safe %>
        <%= link_to "Read More", p, class:"post-more right" %>
      <% end %>
      <% if admin_signed_in? %>
        <%= link_to "Edit Post", edit_post_path(p) %>
      <% end %>
      <hr />
    <% end %>
  <% end %>
  <%= will_paginate(@posts) %>
</div>
