<% provide(:title, @post.title) %>
<div id="body-wrapper">
  <%= content_tag :h2, class:"post-title" do %>
    <%= @post.title %>
    <%= content_tag :span, class:"post-time" do %>
      - <%= @post.updated_at.strftime('%b %e %Y') %>
    <% end %>
  <% end %>
  <%= content_tag :div, class:"post-body" do %>
    <%= content_tag :p, @post.body.html_safe %>
  <% end %>
  <% if admin_signed_in? %>
    <%= link_to "Edit Post", edit_post_path(@post) %>
  <% end %>
</div>
