<%= content_tag :div, id:"header" do %>
  <%= link_to root_path do %>
    <%= inline_svg("polyov.svg", id:"header-image") %>
  <% end %>
  <div id="nav">
    <span id="nav-wrapper">
      <%= link_to "About", about_path, class:current_tab("static", "about", false) %>
      <%= link_to "Portfolio", root_path, class:current_tab("projects", "index", true) %>
      <%= link_to "Blog", posts_path, class:current_tab("posts", "index", true) %>
    </span>
  </div>
<% end %>
