<%= content_tag :div, id:"sidebar" do %>
  <%= link_to root_path do %>
    <%= inline_svg("polyov.svg", id:"header-image") %>
  <% end %>
  <div id="nav">
    <%= content_tag :ul, id:"nav-links" do %>
      <li><%= link_to "Projects", root_path, class:current_tab("projects", "index", true) %></li>
      <li><%= link_to "Blog", posts_path, class:current_tab("posts", "index", true) %></li>
      <li><%= link_to "Resume", "../documents/resume.pdf", :target => :_blank %></li>
    <% end %>
  </div>
  <div id="contact">
    <%= content_tag :h3, "Contact me:" %>
    <%= content_tag :ul, id:"contact-links" do %>
      <li><%= link_to "Email", "mailto:somekidwithhtml@gmail.com", :target => :_blank %></li>
      <li><%= link_to "Twitter", "http://twitter.com/polyov_dev", :target => :_blank %></li>
      <li><%= link_to "Github", "http://github.com/skwh", :target => :_blank %></li>
      <li><%= link_to "Stack Overflow", "http://stackoverflow.com/users/1473963/polyov", :target => :_blank %></li>
    <% end %>
  </div>
  <div id="a-note">
    <%= content_tag :h3, "A note", class:"sys-underline sys-hover" %>
    <%= content_tag :p do %>
      Self-hosted on a Dell Inspiron running Passenger Phusion, Nginx, Postgresql, and Arch Linux.
    <% end %>
  </div>
  <% if admin_signed_in? %>
    <%= content_tag :div, id:"admin-links" do %>
      -<%= link_to "Signed in", destroy_admin_session_path, method: :delete %>-<br />
      <%= link_to "New Project", new_project_path %><br />
      <%= link_to "New Post", new_post_path %>
    <% end %>
  <% end %>
<% end %>
